/*
When setting the primary font stack, apply it to the Pure grid units along
with "html", "button", "input", "select", and "textarea". Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/

html, button, input, select, textarea, .pure-g [class *="pure-u"] {
    font-family: 'Noto Serif', Georgia, Times, "Times New Roman", serif;
}