<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto&display=swap" rel="stylesheet">

    <link href="/static/css/base.new.css" rel="stylesheet">

    <title>BJU COVID Dashboard</title>
</head>

<body>
    <div class="pure-g">
        <div class="pure-u-1 titlebar">
            <div class="page-title">BJU COVID Dashboard — Updated {{date}}</div>
        </div>
    </div>

    <div class="pure-g">
        <div class="pure-u-1-12 pure-u-md-1-24"></div>
        <div class="pure-u-5-6 pure-u-md-22-24">
            <div class="pure-g">
                <div class="pure-u-1 pure-u-lg-1-4">
                    <div class="pure-g">
                        <div class="hero-stat pure-u-md-1-3 pure-u-lg-1 pure-u-1">
                            <div class="hero-number" id="totalIsolations">
                                <div>{{isolations}}</div>
                                <div class="hero-stats-breakdown">
                                    <div>{{sI}} Students</div>
                                    <div>{{fI}} Faculty / Staff</div>
                                </div>
                            </div>
                            <div class="hero-label">Isolations</div>
                        </div>
                
                        <div class="hero-stat pure-u-md-1-3 pure-u-lg-1 pure-u-1">
                            <div class="hero-number" id="totalHospitalizations">
                                <div>{{hospitalizations}}</div>
                                <div class="hero-stats-breakdown">
                                    <div>{{sH}} Students</div>
                                    <div>{{fH}} Faculty / Staff</div>
                                </div>
                            </div>
                            <div class="hero-label">Hospitalizations</div>
                        </div>
                        
                        <div class="hero-stat pure-u-md-1-3 pure-u-lg-1 pure-u-1">
                            <div class="hero-number" id="occuranceRate">1 in {{occurrence}}</div>
                            <div class="hero-label">Isolation Rate</div>
                        </div>
                    </div>
                    
                </div>
                <div class="pure-u-1 pure-u-lg-3-4" id="activeCasesGraph"></div>
            </div>
        </div>
        <div class="pure-u-1-12 pure-u-md-1-24"></div>
    </div>

    <div class="pure-g">
        <div class="pure-u-1-24 pure-u-md-1-6"></div>
        <div class="pure-u-22-24 pure-u-md-2-3 article">
            <h1>Lorem Ipsum</h1>



Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sapien leo, viverra ut turpis et, luctus venenatis libero. Duis nunc justo, tincidunt et faucibus id, suscipit a nibh. Sed bibendum laoreet nunc tincidunt laoreet. Pellentesque mollis quam leo, quis tempus augue bibendum a. Aliquam vel fringilla magna, commodo varius est. Proin interdum placerat orci non accumsan. Fusce vestibulum mi nunc, sit amet efficitur enim interdum ut. Ut ultricies quam velit, in pellentesque turpis mollis nec. Proin eu mattis justo. Cras semper eget lectus sit amet accumsan. Aenean eget massa scelerisque, viverra tortor sed, tincidunt lectus. Aliquam nulla neque, blandit congue gravida vel, ultrices in orci. In at accumsan enim.

Ut et justo eleifend, rhoncus neque vitae, consequat odio. Sed et blandit nunc, sed pharetra purus. Quisque hendrerit malesuada sem et sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus porttitor dictum vehicula. Vivamus nec dignissim diam, vel congue sem. Ut auctor sed tortor vel interdum. Nullam tempus purus diam, vel porta libero euismod id. Suspendisse potenti. Quisque egestas velit nec est cursus, sed vehicula massa placerat. Phasellus condimentum volutpat nisl vitae sagittis. In feugiat congue mi, sollicitudin porttitor tellus viverra id. Donec ex risus, auctor in nunc vitae, aliquet malesuada dui. Proin suscipit lobortis justo, id iaculis felis luctus sit amet. Etiam sagittis lectus nec auctor rhoncus.

Maecenas imperdiet est nunc, fringilla semper sem pellentesque eu. Curabitur a pharetra est. Mauris eu accumsan orci. Etiam varius libero mauris, in venenatis justo placerat et. Pellentesque nec nisl eu orci dictum viverra. Praesent enim nulla, fermentum vel nisl eu, mollis eleifend lacus. Sed efficitur magna in leo sodales congue. Sed ante lacus, dapibus quis malesuada vel, consequat at nunc. In hac habitasse platea dictumst. Nunc quis ornare quam. Donec dapibus scelerisque enim, sed condimentum mauris elementum id. Donec enim enim, vulputate nec dignissim eget, dictum non tortor. Cras porta quis justo sit amet fermentum.

Pellentesque quis leo gravida, sagittis dui non, commodo tellus. Quisque sed ante sit amet dui feugiat fermentum sit amet vel leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque diam metus, rhoncus at felis sit amet, pulvinar pulvinar leo. Aliquam vestibulum, nisl non venenatis volutpat, justo nisi consectetur nunc, nec faucibus lorem enim et ipsum. Maecenas pulvinar, ante sit amet accumsan interdum, neque metus hendrerit mauris, a auctor metus magna vitae nisi. Quisque ante ligula, lobortis eget lorem quis, venenatis iaculis lacus. Aenean a porta nisi, nec pulvinar diam. Donec elementum nulla nec tellus cursus placerat. Curabitur tincidunt eleifend commodo. Sed euismod euismod cursus. Vivamus ornare justo et tristique aliquam.

Phasellus bibendum nec lacus eu condimentum. Fusce ac venenatis libero. Proin mollis lacus at velit blandit, non tincidunt dolor convallis. Nam quam nisl, luctus ac eros vel, auctor cursus justo. Pellentesque sit amet diam leo. Donec pulvinar convallis semper. Donec et elit in quam lobortis venenatis. Donec nisi nulla, interdum eget nunc eu, varius lacinia risus. Pellentesque sit amet laoreet elit. Quisque elementum augue eu placerat faucibus. Curabitur et aliquet erat. Sed a purus vitae purus scelerisque maximus eu quis lacus. Nunc neque urna, malesuada a pulvinar quis, fermentum eget erat. In id blandit urna, sed sodales nunc. Phasellus blandit maximus purus, vel sollicitudin nunc. 
        </div>
        <div class="pure-u-1-24 pure-u-md-1-6"></div>
    </div>

    <script src="https://cdn.plot.ly/plotly-1.58.2.min.js"></script>

    <script src="/static/js/index.js"></script>
</body>

</html>