{% extends "page.html.jinja" %}
{% block title %}Privacy Policy{% endblock title %}
{% block header %}BJU COVID Dashboard — Privacy Policy{% endblock header %}
{% block content%}

                
<h1 class="text-center">Privacy Policy</h1>


<p><strong>Effective Date: 17-12-2020</strong></p>
<h3>Your privacy is important to us</h3>

<p>It is BJU COVID Dashboard's policy to respect your privacy regarding any information we may collect while operating our website. This Privacy Policy applies to <a href="https://bjucovid.com"> bjucovid.com</a> (hereinafter, "us", "we", or "bjucovid.com"). We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website. We have adopted this privacy policy ("Privacy Policy") to explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the information to third parties. This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.</p>
<p>This Privacy Policy, together with the Terms of service posted on our Website, set forth the general rules and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms of service.</p><h2 id="tableofcontents">Contents</h2>
<p>Click below to jump to any section of this privacy policy</p>
<ol type="1">
    <li><a href="#websitevisitors"><strong>Website Visitors</strong></a>
</li>
    <li><a href="#Security"><strong>Security</strong></a>
</li>
    <li><a href="#Changes"><strong>Privacy Policy Changes</strong></a>
</li>
    <li><a href="#Credit"><strong>Contact Information &amp; Credit</strong></a>
</li>

</ol>
<h2 id="websitevisitors">1. Website Visitors</h2><p>Like most website operators, BJU COVID Dashboard collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. BJU COVID Dashboard's purpose in collecting non-personally identifying information is to better understand how BJU COVID Dashboard's visitors use its website. From time to time, BJU COVID Dashboard may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>
<p>BJU COVID Dashboard also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on https://bjucovid.com blog posts. BJU COVID Dashboard only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.</p>

<h2 id="Security">2. Security</h2><p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

<h2 id="Changes">3. Privacy Policy Changes</h2><p>Although most changes are likely to be minor, BJU COVID Dashboard may change its Privacy Policy from time to time, and in BJU COVID Dashboard's sole discretion. BJU COVID Dashboard encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>

<h2 id="Credit">4. Contact Information &amp; Credit</h2><p>This privacy policy was created at <a style="color:inherit;text-decoration:none;" href="https://privacyterms.io/privacy-policy-generator/" title="Privacy policy generator" target="_blank">privacyterms.io privacy policy generator</a>.</p>

<p><a href="#tableofcontents">Back to table of contents</a></p>            
{%endblock content%}